@use '../abstracts/variables';
@use '../abstracts/mixins';

.header {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    margin-inline: auto;
    padding: 3rem 5rem;
    display: flex;
    justify-content: center;
    transform: translate3d(0px, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    transition: all 0.5s;
    z-index: 100;
    
    &__logo {
        width: 29rem;
        padding: 0 1rem 0 3rem;
        display: flex;
        align-items: center;
        
        @include mixins.respond(tab-land) {
            width: 26rem;
        }
        @include mixins.respond(phone) {
            padding: 2rem 1rem;
            width: 24rem;
        }
        @include mixins.respond(phone-small) {
            width: 20rem;
        }
        
    }
    
    &__img {
        & a {
            display: flex;
            align-items: center;
        }
        display: flex;
        align-items: center;
        z-index: 1000;
        
        img {
            max-width: 100%;
            margin: auto;
            @include mixins.respond(phone-small) {
                padding: 0;
                padding-left: 1rem;
            }
        }
    }

    @include mixins.respond(tab-land) {
        padding: 3rem 5rem;
    }
    @include mixins.respond(tab-port) {
        padding: 3rem;
        justify-content: center;
    }
    @include mixins.respond(phone) {
        padding: 1.5rem;
    }
    @include mixins.respond(phone-small) {
        padding: 1.5rem;
    }
}

nav {
    
    > ul {
        list-style: none;
    
        @include mixins.respond(tab-port) {
          display: none;
        }
    
        > li {
          position: relative;
          width: auto;
          float: left;
    
          &:not(:last-child):before {
            position: absolute;
            top: 2rem;
            content: '• ';
            color: variables.$azul-logo;
            font-size: 2rem;
          }
    
          @include mixins.respond(tab-port) {
            float: none;
          }
    
          a, a:visited {
            display: block;
            text-decoration: none;
            padding: 0 2rem;
            line-height: 7rem;
    
            &:not(:only-child):after {
              padding-left: 0.4rem;
              content: ' ▾';
            }
    
            @include mixins.respond(tab-land) {
              padding: 0 1rem;
            //   padding-right: 0.75rem;
            }
          }
        }
    
        ul {
            li{
            width: 19rem; /* Fija o ajusta el ancho del contenedor */
            overflow: visible; /* Permite que el contenido fluya */
            white-space: normal; /* Permite saltos de línea */
            word-wrap: break-word; /* Divide palabras largas si es necesario */
            overflow-wrap: break-word; /* Compatibilidad con navegadores */

            a {
            padding: 1.2rem;
            width: 100%;
            line-height: 1.8rem;
            display: block;
    
            //   &:before {
            //     content: ' ';
            //     padding-right: 0.1rem;
            //     color: variables.$azul-logo;
            //   }
            }
          }
        }
      }
    
      @include mixins.respond(tab-port) {
        position: absolute;
        width: 100%;
        top: 15rem;
      }
    
      @include mixins.respond(phone) {
        top: 12rem;
      }


}

.nav-container {
    padding: 3rem 4rem;
    width: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: variables.$bg-body;
        // border: solid 0.5rem $azul-logo-claro;
    // border-inline: 2rem solid $azul-logo-claro;
    border-radius: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    @include mixins.respond(tab-land) {
        padding: 3re;
    }

    @include mixins.respond(phone) {
        padding: 0 2rem;
    }
    @include mixins.respond(phone-small) {
        padding: 0;
    }
}

.nav-dropdown {
    display: none;
    position: absolute;
    z-index: 1;
    top: 6rem;
    // width: 12rem;
    padding: 0;
    margin: 0;
    background-color: variables.$bg-body;
    // box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transform: translate3d(0px, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateZ(0deg) skew(0deg, 0deg);

    & li{
            width: 12rem; /* Fija o ajusta el ancho del contenedor */
            overflow: visible; /* Permite que el contenido fluya */
            white-space: normal; /* Permite saltos de línea */
            word-wrap: break-word; /* Divide palabras largas si es necesario */
            overflow-wrap: break-word; /* Compatibilidad con navegadores */

            a {
            padding: 1.2rem;
            width: 100%;
            line-height: 1.8rem;
            display: block;
            }
    }

    @include mixins.respond(tab-port) {
        position: static;
    }

}

.nav_list {
    @include mixins.respond(tab-port) {
        display: block !important;
    }
}

#nav-toggle {
    display: none;
    position: relative;
    cursor: pointer;
    padding-right: 6rem;
    
    span,
    span:before,
    span:after {
        border-radius: 2px;
        height: 5px;
        width: 32px;
        background: variables.$azul-logo;
        cursor: pointer;
        position: absolute;
        display: block;
        content: '';
        transition: all 300ms ease-in-out;
    }
    span:before {
      top: -10px;
    }
    span:after {
      bottom: -10px;
    }
    &.active span {
      background-color: transparent;
      &:before,
      &:after {
        top: 0;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }

    @include mixins.respond(tab-port) {
        display: block;
    }

    
  }

  .contacto_button {
  
      text-align: center;
      z-index: 100;
      
      & > a {
          text-transform: uppercase;
          background-color: variables.$azul-logo;
          border-radius: 2rem;
          border: 0.2rem variables.$azul-logo;
          color: variables.$azul-bg;
          transition: all 0.3s;
        } 
        
        @include mixins.respond(tab-port) {
            width: 16rem;
    }
}
    
    .contacto_button :hover {
    background-color: variables.$bg-body;
    border-radius: 3rem;
    border: 0.2rem variables.$azul-logo;
    color: variables.$azul-logo;
  }

  .nav-background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 10rem;
    background-color: variables.$bg-body;
    // z-index: 1;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);

    // @include mixins.respond(tab-port) {
    //     top: 4.5rem;
    //     right: 4.5rem;
    // }

    @include mixins.respond(phone) {
        top: 3.5rem;
        right: 3.5rem;
    }
}

.expand {
    transform: scale(80);
}
