@use '../abstracts/variables';
@use '../abstracts/mixins';

.nav {
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
    padding: 3rem 6rem;
    
    @include mixins.respond(phone) {
        padding: 0;
    }
    
    &__btn {
        cursor: pointer;
        display: grid;
        grid-template: 1/1;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 1px 8px -1px, rgba(0, 0, 0, 0.3) 0px 1px 5px -1px;
        

        
        
        &:hover {
            box-shadow: none;
            
            & a > p {
                text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
            }
        }

        &__azul {
            background-color: variables.$azul-logo;
            
            @include mixins.respond(tab-port) {
                border-radius:  0 0 0 3rem;
            }

            @include mixins.respond(phone) {
                border-radius:  0;
            }
        }
        &__celeste {
            background-color: variables.$azul-logo-claro;
            border-radius:  0 3rem 3rem 0 ;

            @include mixins.respond(tab-port) {
                border-radius:  0 0 3rem 0 ;
            }

            @include mixins.respond(phone) {
                border-radius:  0;
            }

        }
        &__verde {
            background-color: variables.$verde-logo;
            border-radius: 3rem 0 0 3rem;

            @include mixins.respond(tab-port) {
                border-radius: 3rem 0 0 0;
            }

            @include mixins.respond(phone) {
                border-radius:  0;
            }
        }
        &__azul-oscuro {
            background-color: variables.$azul-logo-oscuro;

            @include mixins.respond(tab-port) {
            border-radius: 0 3rem 0 0;
            }

            @include mixins.respond(phone) {
                border-radius:  0;
            }
        }
    }

    @include mixins.respond(tab-port) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include mixins.respond(phone) {
        grid-template-columns: repeat(1, 1fr);
    }
}
