    
    .pmo-listas {
    padding:0 6rem;
    list-style: outside;
    @include respond(phone) {
        padding: 0 1.5rem;
    }
}


.pmo-listas > li::marker {
    font-size: 1.5rem;
    color: $azul-logo;
}

.pmo-listas > li > p {
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 1rem;
}

.pmo-single {
    grid-template-columns: 1fr;
}

.letras {
    list-style-type: lower-latin;
    & li::marker {
        font-size: 1.6rem;
    }
    & p {
        font-weight: 200 !important;
        padding-left: 1rem;
    }
}

.pmo-alfa {
    list-style:lower-latin;
}
.pmo-square {
    list-style: square;
    padding: 0 6rem;
    
    & li::marker {
        font-size: 1.5rem;
        color: $verde-logo;
    }   
    
    & p {
        margin-bottom: 1rem;
    }

    
    @include respond(phone) {
        padding: 0 1.5rem 0 2rem;
        
    }
}
.tildes {
    list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'><path d='M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z'/></svg>");;
    & li::marker {
        font-size: 3rem;

    }
    }
.medical {
    // list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d='M112 96c-26.5 0-48 21.5-48 48V256h96V144c0-26.5-21.5-48-48-48zM0 144C0 82.1 50.1 32 112 32s112 50.1 112 112V368c0 61.9-50.1 112-112 112S0 429.9 0 368V144zM554.9 399.4c-7.1 12.3-23.7 13.1-33.8 3.1L333.5 214.9c-10-10-9.3-26.7 3.1-33.8C360 167.7 387.1 160 416 160c88.4 0 160 71.6 160 160c0 28.9-7.7 56-21.1 79.4zm-59.5 59.5C472 472.3 444.9 480 416 480c-88.4 0-160-71.6-160-160c0-28.9 7.7-56 21.1-79.4c7.1-12.3 23.7-13.1 33.8-3.1L498.5 425.1c10 10 9.3 26.7-3.1 33.8z'/></svg>");;
    list-style-type: disc;
    vertical-align: middle;
    & li::marker {
        font-size: 1.5rem;
        color: $azul-logo;
    }
    & p {
        margin-left: 0;
    }
    }

.columnas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
}
.pmo-item {
    list-style: initial !important;
    
    @include respond(phone) {
        grid-template-columns: 1fr;
        padding: 0 1.5rem;
    }
    
    & > p {
        padding-left: 1.5rem;
    }
}
.pmo-item { 
    & > ul {
        list-style: initial;
        & li {
            margin-bottom: 1rem;
            &::marker {
                font-size: 1.5rem;
                 color: $azul-logo;
                }
            }
    } 
    } 
