*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    background-color: $azul-bg;
    // overflow: hidden
    
    @include respond(tab-land) { 
        font-size: 56.25%; 
    }

    @include respond(tab-port) { 
        font-size: 50%; 
    }

    @include respond(tab-port) { 
        font-size: 50%; 
    }
    
    scroll-behavior: smooth;
    // @include respond(big-desktop) {
    //     font-size: 75%; 
    // }
}

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    // margin: auto;
    // max-width: 1440px;
    // background-color: $azul-bg;
    // box-shadow: rgba(50, 50, 93, 0.25) 0px 1px 8px -1px, rgba(0, 0, 0, 0.3) 0px 1px 5px -1px;
    &::-webkit-scrollbar {
        width: 1rem;
    }
    &::-webkit-scrollbar-track {
        background: $bg-body;
    }
    &::-webkit-scrollbar-thumb {
        background: $azul-logo-claro;
        border-radius: 0.5rem;
        &:hover {
            background: $azul-logo;
        }
    }
}
hr {
    margin: 0 10rem;
    border-style: solid;
}

.container {
    // max-width: 130rem;
    margin-inline: auto;
    display: grid;
    background-color: $azul-bg;
    grid-gap: 6rem;
    padding: 15rem;
    padding-top: 30rem;
    
    @include respond(tab-land) { 
        grid-gap: 4rem;
        max-width: 900px;
        padding: 0 3rem; 
        padding-top: 20rem;

    }

    // @include respond(tab-port) { 
    //     max-width: 600px;  
    // }

    @include respond(phone) { 
        width: 100%;
        padding: 0 2rem;
        padding-top: 18rem;
    }

    @include respond(phone-small) { 
        padding: 0 1.5rem;
        padding-top: 20rem;
    }
}
.video {
    display: flex;
    justify-content: center;
    & iframe {
        width:560px;
        height:315px; 

        @include respond(phone) {
        //    display: none;
        //    width: 0;
        width: 100%;
        }
    }
}