<form id="formCartilla">
    <label for="plan">Plan:</label>
    <select name="plan">
        <option value="">Seleccionar plan</option>
        <option value="Plan A">Plan A</option>
        <option value="Plan B">Plan B</option>
        <option value="Plan C">Plan C</option>
    </select>

    <label for="provincia">Provincia:</label>
    <select name="provincia">
        <option value="">Seleccionar provincia</option>
        <option value="CABA">Buenos Aires</option>
        <option value="Catamarca">Córdoba</option>
        <option value="Chaco">Mendoza</option>
    </select>

    <button type="submit">Descargar Archivo</button>
</form>