<div class="modal__emergencias">
    <button class="modal__emergencias-boton" data-toggle="modal" data-target="#emergencias">
        <i class="fa-solid fa-truck-medical fa-lg"></i> Emergencias
    </button>
</div>
    <div class="modal" id="emergencias">
        <div class="modal__contenedor" >
            <div class="modal__urgencias">
                <div class="modal__header">
                        <div>
                            <button class="modal__button">x</button>
                        </div>
                        <h2>Emergencias</h2>
                </div>
                <br>
                <div class="modal__body-emergencias">
                    <h3>0800 - 555 - 6722</h3>
                    <p>CABA - Op. 1</p>
                    <p>Mendoza - Op. 2</p>
                    <p>Sgo. del Estero - Op. 3</p>
                    <p>GBA y resto de las provincias - Op. 4</p>
                </div>
                <br>
                <hr>
                <br>
                <div class="modal__header">
                        <h2>Derivaciones y Traslados</h2>
                </div>
                <br>
                <div class="modal__body-emergencias">
                    <h3>0800 - 222 - 3462</h3>
                    <p>Opción 4</p>
                </div>
            </div>
        </div>
    </div>
    <script src="../components/modal.js?1"></script>