<footer id="footer">
    <div class="footer">

        <div id="contactos">
            <h3>Canales de comunicación</h3>
            <hr>
            <div class="footer-item">
                <p><span class="material-symbols-outlined symbol-none">call</span>0800-222-3462</p>
                <small>lun a vie de 9 a 16:30 hs</small>
            </div>
            <div class="footer-item">
                <p><i class="fa-brands fa-whatsapp"></i>11-2761-0695</p>
                <small>las 24hs</small>
            </div>
            <p><span class="material-symbols-outlined symbol-none">
                mail
        </span> atbeneficiario@osssb.com.ar</p>
    <p id="direccion"><span class="material-symbols-outlined symbol-none">
        home_pin
    </span> 25 de Mayo 182, CABA, Argentina</p>
    <p><i class="fa-brands fa-instagram"></i><a href="https://www.instagram.com/obrasocial.bancarios"> Instagram</a></p>
    <p><span class="material-symbols-outlined">arrow_forward</span><a href="/pages/sucursales.php"> Sucursales</a></p>
</div>
<div id="urgencias">
    <h3>Teléfonos Útiles</h3>
    <hr>

        <p>Call Center</p>
        <p style="font-weight: 400;"><span class="material-symbols-outlined">
            call
        </span> 0800-222-3462</p>
    

        <p>Urgencias Psiquiátricas</p>
        <p style="font-weight: 400;"><i class="fa-brands fa-whatsapp"></i> APPSI - 11-2257-2258</p>
    

        <p>Urgencias Oftalmológicas</p>
        <p style="font-weight: 400;"><span class="material-symbols-outlined">
            call
        </span> CITO -  4123-9300</p>
    

        <p>Urgencias Odontológicas</p>
        <p style="font-weight: 400;"><span class="material-symbols-outlined">
            call
        </span> SIACO CABA -  5253-3400 <small>24hs</small></p>
    
</div>
<div id="links">
    <h3>Links de interés</h3>
    <hr>
    <div class="links-contenedor">
        <div class="slider">
            <div class="slide">
                <img class="slide-btn" src="/imagenes/POBA mediano_Mediano copy.png" alt="">
            </div>
            <div class="slide">
                <a href="https://www.policlinicabancaria.com.ar/" target="_blank"><span class="material-symbols-outlined">arrow_forward</span>Web</a>
                <a href="https://policlinicabancaria.axonico.ar/login.php?red=NTk=" target="_blank"><span class="material-symbols-outlined">arrow_forward</span>Portal Paciente</a>
            </div>
        </div>
        <a href="https://www.anses.gob.ar/"><img src="/imagenes/logo-blanco.png" alt=""></a>
        <div style="max-width: 300px; display: flex; flex-direction: column; align-items: center;">
            <a style="width: 100%; text-align: center;" href="https://www.argentina.gob.ar/sssalud"><img style="margin: auto;" src="/imagenes/logo_sssalud.png" alt=""></a>
            <p style="text-align: center;"><small>Teléfonos de comunicación directa <a href="tel:080022272583" style="text-decoration: none; color: #fff;"><b>0800-222-72583</b></a></small></p>
        </div>
    </div>
</div>
<div id="logo">
    <!-- <img src="/imagenes/logoBancarios.PNG" alt=""> -->
</div>
</div>
<div id="copy">
<p><span class="material-symbols-outlined">
    copyright
    </span> Copyright 2023</p>
</div>
</footer>
<script src="../components/header.js?2"></script>
<script src="../components/footer.js?2"></script>
<script src="../components/FormularioCartillas/scriptFormulario.js" type="module"></script>
