<footer id="footer">
    <div class="footer">

        <div id="contactos">
            <h3>Canales de comunicación</h3>
            <hr>
            <div class="footer-item">
                <p><span class="material-symbols-outlined symbol-none">call</span>0800-222-3462</p>
                <small>lun a vie 9 a 16:30 hs</small>
            </div>
            <div class="footer-item">
                <p><i class="fa-brands fa-whatsapp"></i>11-2761-0692</p>
                <small>las 24hs</small>
            </div>
            <p><span class="material-symbols-outlined symbol-none">
                mail
        </span> atbeneficiario@osssb.com.ar</p>
    <p id="direccion"><span class="material-symbols-outlined symbol-none">
        home_pin
    </span> 25 de Mayo 182, CABA, Argentina</p>
    <p><i class="fa-brands fa-instagram"></i><a href="https://www.instagram.com/obrasocial.bancarios"> Instagram</a></p>
    <p><span class="material-symbols-outlined">arrow_forward</span><a href="/pages/sucursales.php"> Sucursales</a></p>
</div>
<div id="urgencias">
    <h3><b>Emergencias y riesgos de vida</b></h3>
    <hr>
    <p><span class="material-symbols-outlined">
        call
    </span> 0800-555-6722</p>
    <p><small><span class="material-symbols-outlined">
location_on
</span> CABA: opción 1</small></p>
    <p><small><span class="material-symbols-outlined">
location_on
</span> Mendoza: opción 2</small></p>
    <p><small><span class="material-symbols-outlined">
location_on
</span> Sgo. del Estero: opción 3</small></p>
    <p><small><span class="material-symbols-outlined">
location_on
</span> GBA y resto del país: opción 4</small></p>
</div>
<div id="links">
    <h3>Links de interés</h3>
    <hr>
    <div>
        <a href="https://www.policlinicabancaria.com.ar/"><img src="/imagenes/POBA mediano_Mediano copy.png" alt=""></a>
        <a href="https://www.anses.gob.ar/"><img src="/imagenes/logo-blanco.png" alt=""></a>
        <a href="https://www.argentina.gob.ar/sssalud"><img src="/imagenes/logo_sssalud.png" alt=""></a>
    </div>
</div>
<div id="logo">
    <!-- <img src="/imagenes/logoBancarios.PNG" alt=""> -->
</div>
</div>
<div id="copy">
<p><span class="material-symbols-outlined">
    copyright
    </span> Copiryght 2023</p>
</div>
</footer>
<script src="../components/header.js?1"></script>