
<header class="header">
    <!-- logo -->
    <div class="nav-background">&nbsp;</div>
   <div class="nav-container">
    <div class="header__logo">
        <div class="header__img">
            <a href="../index.php">
                <img src="../imagenes/logoBancarios.PNG" alt="">
            </a>
        </div>
    </div>

    <!-- navigate -->

    <div class="nav-mobile"><a href="#" id="nav-toggle"><span></span></a></div>
        <nav>
            <ul class="nav__list">
                <li><a href="../index.php">inicio</a></li>
                <li><a href="#!">institucional</a>
                    <ul class="nav-dropdown">
                        <li><a href="../pages/institucional.php">Institucional</a></li>
                    </ul>
                    <!-- <li><a href="../pages/coseguros.php">Coseguros</a></li> -->
                </li>
                <li><a href="../pages/sucursales.php">Sucursales</a></li>
                <li><a href="#!">información útil</a>
                    <ul class="nav-dropdown">
                        <li><a href="../pages/pmo.php">PMA</a></li>
                        <li><a href="../pages/planes.php">Planes</a></li>
                        <li><a href="../pages/notificaciones-judiciales.php">Notificaciones Judiciales</a></li>
                    </ul>
                </li>
                <li class="contacto_button" id="contacto"><a href="#footer" >contacto</a></li>
            </ul>
        </nav>

    </div>
    </header>